@use "../../styles/screen";

.main {
  padding: 1.2em;
  background-color: var(--light-back);
  border-radius: var(--low-redius);
  height: 260px;

  @include screen.devices(tablet) {
    width: 300px;
  }

  h3 {
    margin: 0;
    color: var(--dim-light);
    font-weight: 600;
    font-size: 1.6em;
  }

  p {
    color: var(--dim-light);
    font-size: 1em;
    font-weight: 500;
    font-family: "Secular One", sans-serif;
  }
}
