@use '../../styles/screen';
.main {
    padding: 1.2em;
    background-color: var(--light-back);
    border-radius: var(--low-redius);
    height: 240px;

    @include screen.devices(mobile){
        width: 300px;
    }

    h3 {
        margin: 0;
        color: var(--dim-light);
        font-weight: 600;
        font-family: 'Merriweather Sans', sans-serif;
    }

}
