@use './screen';

:root {
  --back: #09192f;
  --light-back: #112240;
  --slate: #64ffda;
  --dim-slate: #27cca5;
  --lighttest: #ccd6f6;
  --dim: #8892b0;
  --dim-light: #a8b4d3;
  --ash-dim:#43495e;
  --fog:#05030342;
  --transition-fast:0.1s;
  --transition:0.1s;
  --fz-heading: 25px;
  --fz-md: 16px;
  --fz-xl: 18px;

  --low-redius: 2%
  
}

html,
body {
  background-color: var(--back);
  padding: 0;
  margin: 0;
  font-family: monospace;
  // font-family: 'Secular One', sans-serif;

  @include screen.devices(desktop) {
    padding: 0px 50px;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


