html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --back: #09192f;
  --slate: #64ffda;
  --lighttest: #ccd6f6;
  --dim: #8892b0;
  --dimlight: #a8b4d3;
  --transition:0.2s;
  --fz-heading: 25px;
  --fz-md: 16px;
  --fz-xl: 18px;
}

