.container {
  padding: 0 2rem;
  color: var(--slate);
  font-family: monospace;
  text-rendering: optimizeLegibility;
}

.MainContNrecentPost {
  display: flex;
  justify-content: space-between;
  margin: 5em 0;
  position: relative;
}

.Card {
  display: grid;
  gap: 2;
}