@use './screen';

.container {
  padding: 0 0.4rem;
  color: var(--slate);
  font-family: monospace;
  text-rendering: optimizeLegibility;

  @include screen.devices(tablet){
    padding: 0 2rem;
  }
}

.MainContNrecentPost {
  justify-content: space-around;
  margin: 5em 0;
  position: relative;

  @include screen.devices(tablet){
    display: flex;
  }
}

.Cards {
  display: flex;
  height: 800px;
  flex-direction: column;
  row-gap: 2em;
  position: -webkit-sticky;
  position: sticky;
  top:0;
}
