@use "../../styles/screen";

.main {
  color: var(--lighttest);
  font-family: "Secular One", sans-serif;

  @include screen.devices(mobile) {
    padding: 0 0.5em;
  }

  p {
    padding: 0 0 0 0.1em;
    font-size: 1.2em;
    line-height: 1.6em;
  }

  @include screen.devices(tablet) {
    padding: 0 10em 0 1em;
  }

  @include screen.devices(desktop) {
    padding: 0 20em 0 1em;
  }

  .span {
    display: flex;
    justify-content: space-between;
    color: var(--slate);
    text-align: right;
    font-size: 1.2rem;
    padding: 0.1em 0.1em;
  }
}

.reactPlayer {
  max-width: 100vw;
}

.hr {
  margin: 2em 15%;
  color: var(--dim-slate);
}
.form {
  margin: 2em 0;
  color: var(--dim-slate);

  label {
    margin: 5px 0;
    display: flex;
    flex-direction: column;

    span {
      margin: 3px 0;
    }

    input {
      border-radius: 3px 3px;
      background: whitesmoke;
      outline: none;
      border: none;
      padding: 8px 0 8px 10px;

      &:focus {
        outline: 3px solid var(--slate);
      }
    }

    textarea {
      border-radius: 3px 3px;
      border: none;
      background: whitesmoke;
      padding: 8px 0 8px 10px;
      outline: none;

      &:focus {
        outline: 3px solid var(--slate);
      }
    }
  }

  @include screen.devices(desktop) {
    width: 50%;
  }
}

.enjoyed {
  font-size: 0.8em;
  color: var(--dim-slate);
  font-family: "Secular One", sans-serif;
}

.h2 {
  font-family: "Secular One", sans-serif;
  margin: 0em 0 0.3em 0;
  color: var(--dim);
}

.hr2 {
  color: var(--dim);
}

.errors {
  font-size: 0.8em;
  color: var(--dim);
}
.submitBtn {
  display: block;
  width: 100%;
  font-weight: bold;
  border-radius: 5px 5px;
  padding: 8px 0;
  color: var(--back);
  background: var(--dim-slate);
  border: none;
  transition: var(--transition);
  margin: 1em 0 0 0;

  &:hover {
    background: var(--dim);
    cursor: pointer;
  }
}

.thanksForComment {
  background: var(--dim-slate);
  color: var(--back);
  padding: 2em 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--slate);

  h1 {
    margin: 0;
    font-size: 1.1em;
    font-weight: bolder;
    text-align: center;

    @include screen.devices(tablet) {
      font-size: 1.6em;
    }
  }

  p {
    margin: 0;
    font-size: 0.7em;

    @include screen.devices(tablet) {
      font-size: 1em;
    }
  }
}

.commentHold {
  margin: 2em 0em;
}

.commentHead {
  display: flex;

  svg {
    height: 2em;
    width: 2em;
    margin: 0 0 0 0.3em;
    color: var(--slate);
  }

  h3 {
    margin: 0;
  }
}

.commentWrap {
  margin: 0.6em 0;
  padding: 0 0 0 0.7em;
  border-left: 7px var(--ash-dim) solid;
}

.commentNameNDate {
  h4 {
    padding: 0;
    margin: 0;
    font-size: clamp(1.3rem, 1.4vw, 1.7rem);
  }
}

.comment {
  color: var(--dim-light);
  font-size: clamp(1.2rem, 1.2vw, 1.5rem);
}
