@use '../../styles/_screen';

.head {
    padding: 0 25px;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(10px);
    transition: 0.8s transform ;
}

.svgCode {
    height: 2rem;
    color: var(--slate);
    will-change: transform;
    animation: anim 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

    @keyframes anim {
        0% {transform: rotate(10deg);}
        50% {transform: rotate(-10deg);}
        100% {transform: rotate(10deg);}
    }
}

.svgSideBar {
    color: var(--slate);
    height: 2rem;
    z-index: 33;
    transition: var(--transition);
    position: sticky;
    
    &:hover {
        color: var(--dim-slate);
        cursor: pointer;
    }
    @include screen.devices(mobile) {
        display: none;
    }


}