@use '../../styles/_screen';

.head {
    padding: 0 0.4rem;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.8s transform ;
    border-bottom: 2px solid var(--light-back);
    margin-bottom: 30px;

    @include screen.devices(mobile){
        padding: 0 2rem;
    }
}

.svgCode {
    height: 2.4rem;
    color: var(--slate);
    will-change: transform;
    animation: anim 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

    @keyframes anim {
        0% {transform: rotate(10deg);}
        50% {transform: rotate(-10deg);}
        100% {transform: rotate(10deg);}
    }


    &:hover {
        cursor: pointer;
    }
}

.svgSideBar {
    color: var(--slate);
    height: 2rem;
    z-index: 33;
    transition: var(--transition);
    position: sticky;
    
    &:hover {
        color: var(--dim-slate);
        cursor: pointer;
    }
    @include screen.devices(tablet) {
        display: none;
    }


}
