.main {
  min-width: 200px;
  min-height: 200px;
  border-radius: var(--low-redius);
  background-color: var(--light-back);
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--dim);
  position: relative;

  p {
    text-align: center;
    font-size: 0.8rem;
    align-items: center;
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translate(-50%, 0);
  }
  h4 {
    font-family: "Secular One", sans-serif;
    text-align: center;
    word-wrap: break-word;
    padding: 0 1rem;
    margin: 0.5em 0;

    &:hover {
      color: var(--lighttest);
    }
  }

  footer {
    font-size: 0.9rem;
    display: flex;
    gap: 0.8rem;
    align-items: center;
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translate(-50%, 0);
  }
}

.imgHold {
  position: relative;
  width: 20px;
  border-radius: 50%;
  background-color: var(--dim);
  overflow: hidden;
  opacity: 60%;
  //filter: grayscale(1);
  color: var(--slate);

  &::after {
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    top: 0px;
    opacity: 40%;
    background: var(--dim-slate);
  }
}
