.main {
    position: relative;
    box-shadow: inset;
    border: 5px solid var(--ash-dim);
    padding: 1em;
    border-radius: 13px 13px;
}

.svgL {
    position: absolute;
    display: flex;
    align-items: center;
    z-index: 2;
    left: -50px;
    color: var(--dim);
    top: 0;
    bottom: 0;
    font-size: 6em;
    transition: var(--transition);
    &:hover {
        cursor: pointer;
        color: var(--dim-light);
    }
}

.svgR {
    position: absolute;
    display: flex;
    align-items: center;
    z-index: 2;
    right: -50px;
    top: 0;
    color: var(--dim);
    bottom: 0;
    font-size: 6em;
    transition: var(--transition);
    &:hover {
        cursor: pointer;
        color: var(--dim-light);
    }
}

.carouselHold {
    display: flex;
    gap: 1em;
    scroll-behavior: smooth;
    overflow-x: scroll;
    

    &::-webkit-scrollbar {
        height: 0px;
    }

    &::-webkit-scrollbar-track {
        background: var(--back); 
    }
    

    &::-webkit-scrollbar-thumb {
        background: var(--dim); 
        border-radius: 13px;
    }
    

    &::-webkit-scrollbar-thumb:hover {
        background: var(--dim-slate); 
    }
}