.main {
    margin-bottom: 2em;
    background-color: var(--light-back);
    border-radius: var(--low-redius);
    padding: 1.2em;

    h3 {
        padding: 0 2em;
        font-family: 'Merriweather Sans', sans-serif;
        color: var(--dim-light);
    }
}

.imgHold {
    position: relative;
    max-height: 220px;
    width: 100%;
    filter: blur(2px);
    background-color: var(--dim);
    overflow: hidden;
    color: var(--slate);
}

.authorInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--dim);
    font-weight: 700;
    gap: 3em;

    span {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    }
}

.imgHoldAuthor {
    position: relative;
    width:1.4em;
    height: 1.4em;
    border-radius: 50%;
    background-color: var(--dim);
    
}

.svgCalander {
    height:1.4em;
    color: var(--dim);
}